body {
	background-color: #EEE;
	font-family: verdana;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#header {
	text-align: center;
	text-decoration: underline;
	background-color: #EEE;
	color: black;
}

#homelink {
	text-decoration: none;
	color: black;
}

#contentContainer{
	width: 800px;
	height: 100%;
	background-color: #212121;
	margin-left: auto;
	margin-right: auto;
	color:white;
	margin-bottom: 0px;
}

.post {
	width: 70%;
	float:right;
	padding-left: auto;
	padding-right: auto;
}

.post a {
	color: white;
}

.post a:hover {
	color:black;
	background-color: white;
}

#content{
	float:right;
}

#navbar{
	float:left;
	padding: 10px;

	height: 100%;
	margin-left: 20px;
}

#navbar a {
	font-size: 1.2em;
	text-decoration: none;
	color: white;
	background-color: #868567;
	display: block;
	width: 100%
}

#navbar a:hover{
	background-color: #F2F2F2;
	color: #212121;
}

#navbar > ul {
	list-style-type: none;
	margin: 10px;
	padding: 5px;
	background-color:
}
#navbar > ul > li {	
	background-color: #868567;
	color:white;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	height:40px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 30px;
	text-align: center;
	background-color: #BBB;
	color: #333;
	font-size: 10px;
}